// _navigation.scss

.nav {
    background-color: #EC008C;
    color: #FFF;
    height: 72px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

    @media screen and (max-width: $bp-mobile) {
        height: 60px;
    }
}

    .nav__logo {
        background: transparent url('/images/HUGE.png') no-repeat;
        background-position: 0px -60px;
        background-size: cover;
        display: inline-block;
        float: left;
        height: 24px;
        margin: 24px 48px 24px 24px;
        width: 60px;

        @media screen and (max-width: $bp-mobile) {
            background-position: 0px -50px;
            height: 20px;
            left: 0;
            margin: 20px 24px 20px 24px;
            position: absolute;
            transform: translate(-100%, 0);
            transition: transform .5s ease-in-out;
            width: 50px;
        }
    }

    .nav__hamburger {
        background: transparent url('/images/toggle-open.svg') no-repeat;
        background-size: cover;
        color: #FFF;
        cursor: pointer;
        height: 66px;
        left: 0;
        margin-top: -6px;
        position: absolute;
        width: 72px;

        &--opened {
            background: transparent url('/images/toggle-close.svg') no-repeat !important;
            background-size: cover !important;
            left: initial !important;
            right: 0;
        }
    }

    .nav__linkbar {
        display: inline-block;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;

        @media screen and (max-width: $bp-mobile) {
            background-color: #FFF;
            height: calc(100vh - 120px);
            margin: 60px 0px 48px;
            min-width: 248px;
            overflow: auto;
            padding: 6px 0px;
            position: relative;
            transform: translate(-100%, 0) !important;
            transition: transform .5s ease-in-out !important;
            width: calc(100% - 72px);
        }

        &--opened {
            opacity: 1 !important;
            transform: scale(1, 1) !important;
        }
    }

        .nav__list-item {
            display: inline-block;
            height: 72px;
            line-height: 72px;

            @media screen and (max-width: $bp-mobile) {
                display: block;
                height: auto;
                line-height: 48px;
            }
        }
        
            .nav__list-link {
                color: #FFF;
                cursor: pointer;
                display: inline-block;
                font: 21px/48px "HUGEAvantGardeBold";
                letter-spacing: -0.06em;
                padding: 14px 24px 10px;
                text-decoration: none;

                &:hover {
                    background-color: #FFF;
                    color: #EC008C;

                    @media screen and (max-width: $bp-mobile) {
                        background-color: #EEE;
                        color: #333;
                    }
                }

                @media screen and (max-width: $bp-original-mobile) {
                    font-size: 18px;
                    padding: 14px 18px 10px;
                }
                
                @media screen and (max-width: $bp-mobile) {
                    background-color: #FFF;
                    color: #333;
                    display: block;
                    font: 21px/48px "HUGEAvantGardeBold";
                    padding: 0px 12px 0px 24px;
                }
            }

            .nav__list-label {
                @extend .nav__list-link;
            }

            .nav__list-item--active > .nav__list-label {
                background-color: #FFF;
                color: #EC008C;

                @media screen and (max-width: $bp-mobile) {
                    background-color: #FFF;
                    color: #333;
                }
            }
            
            @media screen and (max-width: $bp-mobile) {
                .nav__chevron-arrow::after {
                    color: #EC008C;
                    content: '\2304';
                    float: right;
                    font-size: 48px;
                    height: 48px;
                    line-height: 48px;
                }

                .nav__list-item--active > .nav__chevron-arrow::after {
                    transform: rotate(180deg);
                }
            }

            .nav__sub-menu {
                display: none;
                visibility: hidden;
            }

            .nav__list-item--active > .nav__sub-menu {
                display: block;
                list-style: none;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 72px;
                visibility: visible;

                @media screen and (max-width: $bp-mobile) {
                    position: relative;
                    top: 0;
                    transition: visibility 1s;
                }
            }
                
                .nav__sublist-item {
                    height: 48px;
                    line-height: 48px;
                }

                    .nav__sublist-link {
                        background-color: #FFF;
                        color: #333;
                        cursor: pointer;
                        display: block;
                        font: 16px/48px "Galaxie";
                        letter-spacing: -0.06em;
                        padding: 0px 24px;
                        text-decoration: none;

                        @media screen and (max-width: $bp-tablet) {
                            padding: 0px 24px;
                        }

                        @media screen and (min-width: $bp-mobile + 1) and (max-width: $bp-original-mobile) {
                            padding: 0px 18px;
                        }

                        &:hover {
                            background-color: #EEE;
                            color: #EC008C;
                        }
                    }

    @media screen and (max-width: $bp-mobile) {
        .nav__copyright {
            background-color: #FFF;
            bottom: 0;
            color: #333;
            font: 12px/48px "Helvetica Neue Regular", "Arial";
            height: 48px;
            letter-spacing: -0.06em;
            padding-left: 24px;
            position: fixed;
            transform: translate(-100%, 0);
            transition: transform .5s ease-in-out;
            width: calc(100% - 96px);

            &::before {
                background-color: #FFF;
                content: '.';
                height: 48px;
                left: 0;
                position: absolute;
                transform: translate(-100%, 0);
                transition: transform .5s ease-in-out;
                right: 0;
                width: calc(100vw - 96px);
                z-index: -1;
            }
        }
    }